@use "../abstracts" as a;

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.layout {
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 2.5rem;

    @include a.media(medium) {
        grid-template-columns: 1fr;
    }
}

.seccion {
    padding: 5rem;

    &__encabezado {
        text-align: center;
        margin-bottom: 3rem;
    }

    @include a.media(medium) {
        padding: 3rem 1.5rem;
    }

    @include a.media(small) {
        padding: 2rem 1rem;
    }
}
