@use "../abstracts" as a;

// Titulos de seccion
.titulo-seccion {
    font-family: a.$font-heading;
    font-size: a.font-size(xl);
    color: a.color(texto-primary);
    text-align: center;
    margin-bottom: 2rem;

    span {
        color: a.color(accent);
    }
}
