@use "../abstracts" as a;

// LOGO
.logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-family: a.$font-heading;
    font-size: a.font-size(lg);
    color: a.color(texto-primary);
    text-decoration: none;
    span {
        color: a.color(accent);
    }
}
